
<html>
<head>
<title>voila!!</title>
</head>
<body  >
<h1 align="center" style="color:blue;">Welcome</h1>
<p align="center" style="color:red;" >This is the official page for Akash chaudhary</p>

</body>
</html>
